.hero {
  margin-top: rem(128);
  background: linear-gradient(rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)),
    url('@img/hero/hero-bg.png') top center no-repeat;
  max-width: 1440px;
  margin: 0 auto;

  padding: rem(200) 0 rem(280);

  @media (max-width: 991.98px) {
    margin-top: rem(78);

    padding: rem(130) 0 rem(170);
  }

  @media (max-width: 767.98px) {
    padding: rem(100) 0 rem(150);
    margin-top: rem(55);

    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url('@img/hero/hero-bg.png') center no-repeat;
  }

  &__content {
    text-align: center;
    max-width: rem(975);
    margin: 0 auto;
  }
  &__title {
    font-size: rem(56);
    font-weight: var(--fw-bold);
    color: var(--color-light);
    line-height: lh(73, 56);

    &:not(:last-child) {
      margin-bottom: em(24, 56);

      @media (max-width: 767.98px) {
        margin-bottom: em(10, 42);
      }
    }

    @media (max-width: 991.98px) {
      font-size: rem(48);
    }
    @media (max-width: 767.98px) {
      font-size: rem(42);
    }
    @media (max-width: 479.98px) {
      font-size: rem(36);
    }
    @media (max-width: 379.98px) {
      font-size: rem(28);
    }
  }
  &__text {
    font-size: rem(16);
    font-weight: var(--fz-regular);
    color: var(--color-light);
    line-height: lh(25, 16);

    max-width: em(867, 16);
    margin: 0 auto;

    & > p:not(:last-child) {
      margin-bottom: em(15, 16);
    }

    &:not(:last-child) {
      margin-bottom: em(54, 16);

      @media (max-width: 767.98px) {
        margin-bottom: em(20, 16);
      }
    }

    @media (max-width: 479.98px) {
      font-size: rem(14);
    }
  }
}
