/*===SCSS Functions===*/
@import './dev/functions.scss';

/*===Reset Styles===*/
@import './dev/nullstyle.scss';

/*===Vars===*/
@import './dev/vars.scss';

/*===Swiper===*/
// @import './dev/swiper-bundle.min.scss';

/*===============GLOBAL STYLES===============*/

body {
  font-family: var(--font-family);
  color: var(--color-primary);

  &.is-fixed {
    overflow: hidden;
  }

  /*===For Modals===*/
  // &.modal-lock {
  //   overflow: hidden;
  //   position: fixed;
  // }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

[class*='__container'] {
  max-width: rem(1182);
  padding: 0 rem(15);
  margin: 0 auto;
}

/*===BEM Blocks===*/
@import './dev/common.scss';

/*===============Header===============*/
@import './parts/header.scss';

/*===============SECTIONS===============*/

@import './parts/hero.scss';

@import './parts/offer.scss';

@import './parts/future.scss';

@import './parts/work.scss';

@import './parts/courses.scss';

@import './parts/mentor.scss';

/*===============Footer===============*/
@import './parts/footer.scss';
