/*===Fonts===*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

/*===SCSS Functions===*/
@import 'functions.scss';

/*===Reset Styles===*/
@import 'nullstyle.scss';

/*===Vars===*/
@import 'vars.scss';

/*===Swiper===*/
// @import './swiper-bundle.min.scss';

/*===============GLOBAL STYLES===============*/

body {
  font-family: var(--font-family);
  color: var(--color-primary);

  &.is-fixed {
    overflow: hidden;
  }

  /*===For Modals===*/
  // &.modal-lock {
  //   overflow: hidden;
  //   position: fixed;
  // }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

[class*='__container'] {
  max-width: rem(1182);
  padding: 0 rem(15);
  margin: 0 auto;
}

/*===BEM Blocks===*/
@import 'common.scss';

/*===============SECTIONS===============*/

@import 'hero.scss';

@import 'offer.scss';

@import 'future.scss';

/*===============Header===============*/
@import 'header.scss';

/*===============Footer===============*/
@import 'footer.scss';
