:root {
  // COLORS
  --color-primary: #222222;
  --color-secondary: #555555;
  --color-secondary-dark: #444444;
  --color-secondary-darker: #333333;

  $color: #fff;

  --color-accent: #086cf9;
  --color-accent-hover: #0556c9;
  --color-accent-active: #044197;

  --color-light: #fff;

  --bg-color-blue: #d3e5fe;
  --bg-color-blue-light: #ecf4ff;

  // FONTS
  --font-family: 'DM Sans', sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}
